@try
{
    if (Request.IsAuthenticated) {
        <text>
            ¡Hola, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: new { Area = "" }, htmlAttributes: new { @class = "username", title = "Manage" })!
            <br />
            @if (WebSecurity.Initialized && Roles.IsUserInRole("admin"))
            {
                @Html.ActionLink("Administrar usuarios", "Index", "UserProfile", routeValues: new { Area = "Seguridad" }, htmlAttributes: new { id = "adminLink" })
            }
            @using (Html.BeginForm("Logoff", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm" })) {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        </text>
    } else {
        @Html.ActionLink("Regístrate", "Register", "Account", routeValues: new { Area = "" }, htmlAttributes: new { id = "registerLink" })<br />
        @Html.ActionLink("Log in", "Login", "Account", routeValues: new { Area = "" }, htmlAttributes: new { id = "loginLink" })
    }
}
catch
{
}
