@model TesisProj.Areas.Modelo.Models.SalidaProyecto

@{
    ViewBag.Title = "Salidas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asociar elementos</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Salida</legend>

        <table>
            <tr>
                <th>
                    Operaciones disponibles
                </th>
                <th></th>
                <th>
                     Operaciones asociados
                </th>
            </tr>
            <tr>
                <td>
                    @Html.ListBox("Opciones", ViewBag.Opciones as MultiSelectList, new { @Size = 20 })
                </td>
                <td>
                    <input type="submit" value=">" name="add" id="add"/>
                    <br />
                    <input type="submit" value="<" name="remove" id="remove"/>
                    <br />
                    <input type="submit" value=">>" name="addall" id="addall"/>
                    <br />
                    <input type="submit" value="<<" name="removeall" id="removeall"/>
                </td>
                <td>
                    @Html.ListBox("Asociados", ViewBag.Asociados as MultiSelectList, new { @Size = 20 })
                </td>
            </tr>
        </table>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Nombre)
        @Html.HiddenFor(model => model.Secuencia)
        @Html.HiddenFor(model => model.IdProyecto)
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "Cine", new { id = Model.IdProyecto })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
