@model IEnumerable<TesisProj.Areas.Modelo.Models.Parametro>

@{
    ViewBag.Title = "Parámetros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Parámetros</h2>

<p>
    @Html.ActionLink("Crear", "CreateParametro", new { idElemento = ViewBag.ElementoId }) |
    @Html.ActionLink("Ver Resultados", "Programa", new { id = ViewBag.ElementoId }) |
    @Html.ActionLink("Fórmulas", "Cuaderno", new { id = ViewBag.ElementoId }) |
    @Html.ActionLink("Ver valores", "VerParametros", new { id= ViewBag.ElementoId }) |
    @Html.ActionLink("Editar valores", "SetParametros", new { id= ViewBag.ElementoId }) 
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Referencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdElemento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTipoParametro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sensible)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Referencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Elemento.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoParametro.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sensible)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditParametro", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "DeleteParametro", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Ver elementos", "Journal", new { id = ViewBag.ProyectoId })
</div>
