@model IEnumerable<TesisProj.Areas.Modelo.Models.SalidaProyecto>

@{
    ViewBag.Title = "Resultados: " + ViewBag.Proyecto;
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool IsCreador = ViewBag.IsCreador;
    bool IsEditor = ViewBag.IsEditor;
    bool IsRevisor = ViewBag.IsRevisor;
    DateTime LastCalculated = ViewBag.LastCalculated;
    DateTime LastModified = ViewBag.LastModified;
}

<h2>Resultados de @ViewBag.Proyecto</h2>

<p>
    <br />
    @if(!IsRevisor){
        <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("CreateSalidaProyecto", new { Area = "Modelo", idProyecto = ViewBag.ProyectoId })">
  	        <i class="icon-plus icon-white"></i>Nuevo
        </a>
        <a style="margin:5px"></a>
        <a class="btn btn-inverse" style="color: #E6F0F2;"href="@Url.Action("Corolario", new { Area = "Modelo", id = ViewBag.ProyectoId })">
  	        <i class="icon-list icon-white"></i>Operaciones
        </a>
        <a style="margin:5px"></a>
        <a class="btn btn-inverse" onclick="return DuplicateConfirm()" style="color: #E6F0F2;"href="@Url.Action("VolverPlantilla", "PlantillaProyecto", new { Area = "Plantilla", id = ViewBag.ProyectoId })">
  	        <i class="icon-briefcase icon-white"></i>Volver plantilla
        </a>
        <a style="margin:5px"></a>
    }
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Calcular", new { id = ViewBag.ProyectoId })"">
        <i class="icon-screenshot icon-white"></i>Calcular
    </a>
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Console", new { id = ViewBag.ProyectoId })"">
        <i class="icon-arrow-left icon-white"></i>Regresar
    </a>
    <br /> <br />
    Última vez calculado: @LastCalculated
    <br />
    Última vez modificado: @LastModified
    <br /> <br />
</p>
<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.Secuencia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td style="text-align:center;">
            @Html.DisplayFor(modelItem => item.Secuencia)
        </td>
        <td>
            @Html.ActionLink("Ver", "Pelicula", new { id = item.Id }) 
            
            @if(!IsRevisor) {
                @Html.Raw(" | ") @Html.ActionLink("Asociar operaciones", "Assoc", new { id = item.Id })
                @Html.Raw(" | ") @Html.ActionLink("Editar", "EditSalidaProyecto", new { id = item.Id })
                @Html.Raw(" | ") @Html.ActionLink("Copiar", "DuplicarSalida", new { id = item.Id }, new { onclick = "return CopyConfirm()" })
                @Html.Raw(" | ") @Html.ActionLink("Eliminar", "DeleteSalidaProyecto", new { id = item.Id }, new { onclick = "return DeleteConfirm()" })
            }
        </td>
    </tr>
}

</table>

<p>
    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Console", new { id = ViewBag.ProyectoId })"">
        <i class="icon-arrow-left icon-white"></i>Regresar
    </a>
</p>

<script>
    function DeleteConfirm(){
        if (confirm("¿Está seguro que desea eliminar el registro?"))
            return true;
        else
            return false;     
    }

    function DuplicateConfirm() {
        if (confirm("¿Está seguro que desea copiar el registro a una plantilla?"))
            return true;
        else
            return false;
    }

    function CopyConfirm() {
        if (confirm("¿Está seguro que desea copiar el registro?"))
            return true;
        else
            return false;
    }
</script>
