@model TesisProj.Areas.Modelo.Models.Formula

@{
    ViewBag.Title = "Fórmulas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear fórmula</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Fórmula</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Secuencia)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Secuencia, new { @Value = ViewBag.defSecuencia })
            @Html.ValidationMessageFor(model => model.Secuencia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Referencia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Referencia)
            @Html.ValidationMessageFor(model => model.Referencia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdElemento)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdElemento")
            @Html.ValidationMessageFor(model => model.IdElemento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdTipoFormula)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdTipoFormula")
            @Html.ValidationMessageFor(model => model.IdTipoFormula)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Visible)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.Visible)
            @Html.ValidationMessageFor(model => model.Visible)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PeriodoInicial)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PeriodoInicial)
            @Html.ValidationMessageFor(model => model.PeriodoInicial)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PeriodoFinal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PeriodoFinal)
            @Html.ValidationMessageFor(model => model.PeriodoFinal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cadena)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Cadena)
            @Html.ValidationMessageFor(model => model.Cadena)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "Cuaderno", new { id = ViewBag.IdElementoReturn })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
