@model TesisProj.Areas.Modelo.Models.Proyecto
@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Proyectos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Telerik().ScriptRegistrar().Globalization(true)
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.calculator.package-2.0.0/jquery.calculator.css")"> 
            @Scripts.Render("~/Content/jquery.calculator.package-2.0.0/jquery.plugin.js")
            @Scripts.Render("~/Content/jquery.calculator.package-2.0.0/jquery.calculator.js")            
            @Scripts.Render("~/Content/jquery.calculator.package-2.0.0/jquery.calculator-es.js")
            

<h2>Crear proyecto</h2>

<p>
    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Index")"">
        <i class="icon-arrow-left icon-white"></i>Regresar
    </a><br /><br />
</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>Proyecto</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Horizonte)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Horizonte, new { @class="calculator" })
            @Html.ValidationMessageFor(model => model.Horizonte)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PeriodosPreOp)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PeriodosPreOp)
            @Html.ValidationMessageFor(model => model.PeriodosPreOp)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PeriodosCierre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PeriodosCierre)
            @Html.ValidationMessageFor(model => model.PeriodosCierre)
        </div>

        <div class="editor-label">
            @Html.Label("Plantilla")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdPlantilla", String.Empty)
            @Html.ValidationMessage("IdPlantilla")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Version)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Version, new { @Readonly = "readonly", @Value = ViewBag.Version })
            @Html.ValidationMessageFor(model => model.Version)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCreador)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCreador")
            @Html.ValidationMessageFor(model => model.IdCreador)
        </div>       
        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}
<p>
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Index")"">
        <i class="icon-arrow-left icon-white"></i>Regresar
    </a>
</p>

<script type="text/javascript">
    $(".calculator").calculator({
        showOn: 'button',
        buttonImageOnly: true, buttonImage: "@Url.Content("~/Content/jquery.calculator.package-2.0.0/calculator.png")"
    });
</script>

