@model TesisProj.Areas.Modelo.Models.Proyecto

@{
    ViewBag.Title = "Proyectos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Proyecto</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Horizonte)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Horizonte)
            @Html.ValidationMessageFor(model => model.Horizonte)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PeriodosPreOp)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PeriodosPreOp)
            @Html.ValidationMessageFor(model => model.PeriodosPreOp)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PeriodosCierre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PeriodosCierre)
            @Html.ValidationMessageFor(model => model.PeriodosCierre)
        </div>

        <div class="editor-label">
            @Html.Label("Plantilla")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdPlantilla", String.Empty)
            @Html.ValidationMessage("IdPlantilla")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Version)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Version, new { @Readonly = "readonly", @Value = ViewBag.Version })
            @Html.ValidationMessageFor(model => model.Version)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCreador)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCreador")
            @Html.ValidationMessageFor(model => model.IdCreador)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Creacion)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Creacion, new { @Readonly = "readonly", @Value = ViewBag.Now })
            @Html.ValidationMessageFor(model => model.Creacion)
        </div>
        
        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
