@model TesisProj.Areas.Modelo.Models.SalidaElemento

@{
    ViewBag.Title = "Salidas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar salida</h2>

<h3>¿Está seguro de eliminar este registro?</h3>
<fieldset>
    <legend>SalidaElemento</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Secuencia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Secuencia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdFormula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Formula.Nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Regresar", "Pizarra", new { id = Model.IdElemento })
    </p>
    @Html.ValidationMessageFor(model => model.Nombre)
}
