@model TesisProj.Areas.Modelo.Models.SalidaProyecto

@{
    ViewBag.Title = "Salidas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar salida</h2>

<h3>¿Está seguro de eliminar este registro?</h3>
<fieldset>
    <legend>SalidaProyecto</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Secuencia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Secuencia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PeriodoInicial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PeriodoInicial)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PeriodoFinal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PeriodoFinal)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Regresar", "Cine", new { id = Model.IdProyecto })
    </p>
    @Html.ValidationMessageFor(model => model.Nombre)
}
