@model TesisProj.Areas.Modelo.Models.Operacion

@{
    ViewBag.Title = "Operaciones: " + ViewBag.Proyecto;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar @Model.Nombre (@ViewBag.Proyecto)</h2>

<p>
    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Corolario", new { id = Model.IdProyecto })"">
        <i class="icon-arrow-left icon-white"></i>Regresar
    </a>
    <br /><br />
</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Operación</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PeriodoInicial)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PeriodoInicial)
            @Html.ValidationMessageFor(model => model.PeriodoInicial)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PeriodoFinal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PeriodoFinal)
            @Html.ValidationMessageFor(model => model.PeriodoFinal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Secuencia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Secuencia)
            @Html.ValidationMessageFor(model => model.Secuencia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Referencia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Referencia)
            @Html.ValidationMessageFor(model => model.Referencia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdProyecto)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdProyecto")
            @Html.ValidationMessageFor(model => model.IdProyecto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Indicador)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Indicador)
            @Html.ValidationMessageFor(model => model.Indicador)
        </div>

        <div class="editor-label">
            @Html.Label("Marcar como:")
            <a href="#" onclick="return Mark('TIRE');">TIR del proyecto</a> |
            <a href="#" onclick="return Mark('TIRF');">TIR del inversionista</a> |
            <a href="#" onclick="return Mark('VANE');">VAN del proyecto</a> |
            <a href="#" onclick="return Mark('VANF');">VAN del inversionista</a> |
            <a href="#" onclick="return Mark('KE');">Costo capital del proyecto</a> |
            <a href="#" onclick="return Mark('KF');">Costo capital del inversionista</a>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subrayar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Subrayar)
            @Html.ValidationMessageFor(model => model.Subrayar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cadena)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Cadena)
            @Html.ValidationMessageFor(model => model.Cadena)
        </div>

        @Html.HiddenFor(model => model.Id)

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<p>
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Corolario", new { id = Model.IdProyecto })"">
        <i class="icon-arrow-left icon-white"></i>Regresar
    </a>
</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    function Mark(story) {
        document.getElementById('Indicador').checked = true;
        document.getElementById('Referencia').value = story;
        return false;
    }
</script>
