@model TesisProj.Areas.Modelo.Models.Proyecto

@{
    ViewBag.Title = "Proyectos: " + ViewBag.Proyecto;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PreHorizonte = ViewBag.PreHorizonte;
}

<h2>Editar @Model.Nombre</h2>

<p>
    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Console", new { id = @Model.Id })"">
        <i class="icon-arrow-left icon-white"></i>Regresar
    </a><br /><br />
</p>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.calculator.package-2.0.0/jquery.calculator.css")"> 
            @Scripts.Render("~/Content/jquery.calculator.package-2.0.0/jquery.plugin.js")
            @Scripts.Render("~/Content/jquery.calculator.package-2.0.0/jquery.calculator.js")            
            @Scripts.Render("~/Content/jquery.calculator.package-2.0.0/jquery.calculator-es.js")

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Proyecto</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Horizonte)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Horizonte)
            @Html.ValidationMessageFor(model => model.Horizonte)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PeriodosPreOp)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PeriodosPreOp)
            @Html.ValidationMessageFor(model => model.PeriodosPreOp)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PeriodosCierre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PeriodosCierre)
            @Html.ValidationMessageFor(model => model.PeriodosCierre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Version)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Version, new { @Readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Version)
        </div>
        @Html.HiddenFor(model => model.Creacion)
        @Html.HiddenFor(model => model.Calculado)
        @Html.HiddenFor(model => model.IdCreador)
        @Html.HiddenFor(model => model.Id)
        @Html.Hidden("PreHorizonte")

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}
<p>
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Console", new { id = @Model.Id })"">
        <i class="icon-arrow-left icon-white"></i>Regresar
    </a>
</p>

<script type="text/javascript">
    $(".calculator").calculator({
        showOn: 'button',
        buttonImageOnly: true, buttonImage: "@Url.Content("~/Content/jquery.calculator.package-2.0.0/calculator.png")"
    });
</script>