@model TesisProj.Areas.Modelo.Models.Audit

@{
    ViewBag.Title = "Proyecto: " + ViewBag.Proyecto;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Auditoría de @ViewBag.Proyecto</h2>

<p>
    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Muro", new { id = @Model.IdProyecto })"">
        <i class="icon-arrow-left icon-white"></i>Regresar
    </a><br /><br />
</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Auditoría</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdUsuario)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Usuario.UserName, new { @Readonly = "readonly" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Fecha, new { @Readonly = "readonly" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Transaccion)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Transaccion, new { @Readonly = "readonly" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tipo)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Tipo, new { @Readonly = "readonly" })
        </div>

        <div class="row-fluid">
            <div class="span6">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Original)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Original, new { @Readonly = "readonly", @rows = 8 })
                </div>
            </div>
            <div class="span6">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Modificado)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Modificado, new { @Readonly = "readonly", @rows = 8 })
                </div>
            </div>

        @Html.HiddenFor(model => model.Id)
    </fieldset>
}

<p>
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Muro", new { id = @Model.IdProyecto })"">
        <i class="icon-arrow-left icon-white"></i>Regresar
    </a>
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}