@using TesisProj.Areas.Plantilla.Models
@using System.Collections

@model IEnumerable<TesisProj.Areas.Modelo.Models.Elemento>

@{
    ViewBag.Title = "Proyecto: " + ViewBag.Proyecto;
    Layout = "~/Views/Shared/_Layout.cshtml";
    IList<TipoElemento> tipos = ViewBag.TipoElementos;
}

<h2>Elementos</h2>
<table>
@foreach (var tipo in tipos)
{
    <tr>
        <td>
            <u><b>@tipo.NombrePlural:</b></u>
        </td>
        <td>
            @Html.ActionLink("Agregar", "CreateElemento", "Proyecto", routeValues: new { Area = "Modelo", idProyecto = ViewBag.ProyectoId, idTipoElemento = tipo.Id }, htmlAttributes: null)
        </td>
    </tr>

    foreach (var element in Model.Where(e => e.IdTipoElemento == tipo.Id))
    {
        <tr>
            <td>
                @Html.DisplayFor(e => element.Nombre)
            </td>
            <td>
                @Html.ActionLink("Ver", "Resultado", "Proyecto", routeValues: new { Area = "Modelo", id = element.Id }, htmlAttributes: null) |
                @Html.ActionLink("Editar", "EditElemento", "Proyecto", routeValues: new { Area = "Modelo", id = element.Id }, htmlAttributes: null) |
                @Html.ActionLink("Parámetros", "Catalog", "Proyecto", routeValues: new { Area = "Modelo", id = element.Id }, htmlAttributes: null) |
                @Html.ActionLink("Fórmulas", "Cuaderno", "Proyecto", routeValues: new { Area = "Modelo", id = element.Id }, htmlAttributes: null) |
                @Html.ActionLink("Salidas", "Pizarra", "Proyecto", routeValues: new { Area = "Modelo", id = element.Id }, htmlAttributes: null)  |
                @Html.ActionLink("Eliminar", "DeleteElemento", "Proyecto", routeValues: new { Area = "Modelo", id = element.Id }, htmlAttributes: null)
            </td>
        </tr>
    }
        
}
</table>

<div>
    @Html.ActionLink("Regresar", "Console", new { id = ViewBag.ProyectoId })
</div>