@model IEnumerable<TesisProj.Areas.Modelo.Models.Audit>

@{
    ViewBag.Title = "Proyecto: " + ViewBag.Proyecto;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Auditoría de @ViewBag.Proyecto</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transaccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoObjeto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transaccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.ActionLink("Ver", "Fisco", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Regresar", "Console", new { id = ViewBag.ProyectoId })
</div>