@using TesisProj.Areas.Modelo.Models
@model List<TesisProj.Areas.Modelo.Models.Operacion>

@{
    ViewBag.Title = "Resultados";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int Horizonte = ViewBag.Horizonte;
    int Inicio = (ViewBag.Inicio > 0 ? ViewBag.Inicio : 1) - 1;
}

<h2>@ViewBag.Salida (@ViewBag.Proyecto)</h2>

<table>
    <tr>
        <th>
            Concepto
        </th>
        @for (int periodo = 1; periodo <= Horizonte; periodo++)
        {
            <th style="text-align:center; width:80px;">
                @periodo
            </th>
        }
    </tr>

@foreach (var salida in Model)
{
    <tr>
        <td>
            @salida.Nombre
        </td>
        @for (int periodo = Inicio; (periodo < salida.Valores.Count) && (periodo < Horizonte); periodo++)
        {
            <td style="text-align:right;">
                @if(salida.Indicador){
                    if (periodo == Inicio){
                        @String.Format("{0:#,##0.00}", salida.Valores[periodo])
                    }
                } 
                else 
                {
                    @String.Format("{0:#,##0}", salida.Valores[periodo])
                }
            </td>
        }
    </tr>
}

</table>

<div>
    @Html.ActionLink("Regresar", "Cine", new { id = ViewBag.IdProyecto })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
