@using TesisProj.Areas.Modelo.Models
@model List<TesisProj.Areas.Modelo.Models.Operacion>

@{
    ViewBag.Title = "Resultados: " + ViewBag.Proyecto;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int Horizonte = ViewBag.Horizonte;
    int Inicio = ViewBag.Inicio > 0 ? ViewBag.Inicio : 1;
}

<h2>@ViewBag.Salida (@ViewBag.Proyecto)</h2>

<p>
    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Cine", new { id = ViewBag.IdProyecto })"">
        <i class="icon-arrow-left icon-white"></i>Regresar
    </a>
    <br /> <br />
</p>
@if(Model.Any(m => !m.Indicador))
{
    <div style="overflow: auto; max-height: 600px">
    <table class="table table-hover table-striped table-bordered">
        <tr class ="success">
            <th>
                Concepto
            </th>
            @for (int periodo = Inicio; periodo <= Horizonte; periodo++)
            {
                <th style="text-align:center; width:80px;">
                    @periodo
                </th>
            }
        </tr>

    @foreach (var salida in Model.Where(m => !m.Indicador))
    {
        <tr class = "@GetClassFromLevel(salida.Indicador, salida.Subrayar)">
            <td>
                @salida.Nombre
            </td>
            @for (int periodo = Inicio; (periodo <= salida.Valores.Count) && (periodo <= Horizonte); periodo++)
            {
                <td style="text-align:right;">
                    @String.Format(salida.TipoDato.Formato, salida.Valores[periodo - 1])
                </td>
            }
        </tr>
    }
        <tr>
            <th>
            </th>
            @for (int periodo = Inicio; periodo <= Horizonte; periodo++)
            {
                <th style="text-align:center; width:80px;">
                    @periodo
                </th>
            }
        </tr>
    </table>
    </div>
}
<br />
@if(Model.Any(m => m.Indicador))
{
    <table class="table table-hover table-striped table-bordered" style="width: 350px">
        <tr class ="success">
            <th>
                Indicador
            </th>
            <th style="text-align:center; width:70px;"></th>

        </tr>

    @foreach (var salida in Model.Where(m => m.Indicador))
    {
        <tr>
            <td>
                @salida.Nombre
            </td>
            <td>
                @String.Format(salida.TipoDato.Formato, salida.Valores.Count > 0 ? salida.Valores[0] : 0)
            </td>
        </tr>
    }
    </table>
}

<p>
    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Cine", new { id = ViewBag.IdProyecto })"">
        <i class="icon-arrow-left icon-white"></i>Regresar
    </a>
</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@functions{ 
  public string GetClassFromLevel(bool indicador, bool subrayar) 
    {
        return subrayar ? "info" : (indicador ? "success" : "");
  }
}