@model IEnumerable<TesisProj.Areas.Modelo.Models.SalidaElemento>

@{
    ViewBag.Title = "Salidas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Salidas</h2>

<p>
    @Html.ActionLink("Crear", "CreateSalidaElemento", new { idElemento = ViewBag.ElementoId })
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Secuencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdElemento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdFormula)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Secuencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Elemento.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Formula.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditSalidaElemento", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "DeleteSalidaElemento", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Regresar", "Journal", new { id = ViewBag.IdProyecto })
</div>
