@model List<TesisProj.Areas.Modelo.Models.Celda>

@{
    ViewBag.Title = "Parámetros: " + ViewBag.Proyecto;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int IdElemento = ViewBag.IdElemento;
    int IdProyecto = ViewBag.IdProyecto;
}

<h2>Editar valores <b>iniciales</b> del @ViewBag.Elemento (@ViewBag.Proyecto)</h2>

<p>
    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Catalog", "Proyecto", new { Area = "Modelo",id = ViewBag.IdElemento   })"">
  	    <i class="icon-arrow-left icon-white"></i>Regresar
    </a> <br /><br />
</p> 

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Valores</legend>
            
            <div style="overflow: auto; max-height: 600px; max-width: 1050px">
            <table class="table table-hover table-striped table-bordered">
                <tr>
                    <th>
                        Período
                    </th>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Valor
                    </th>
                </tr>

@for (int i = 0; i < Model.Count(); i++)
{
                <tr>
                    <td>
                        @Html.DisplayFor(model => model[i].Parametro.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model[i].Parametro.TipoParametro.Nombre)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model[i].Valor, new { style="width = 50px", @Value = String.Format("{0:0.##}", Model[i].Valor) })
                        @Html.ValidationMessageFor(model => model[i].Valor)
                        @Html.HiddenFor(model => model[i].IdParametro)
                    </td>
                </tr>
}

        </table>
        </div>
        @Html.Hidden("IdElemento")
        @Html.Hidden("IdProyecto")

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<p>
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Catalog", "Proyecto", new { Area = "Modelo",id = ViewBag.IdElemento   })"">
  	    <i class="icon-arrow-left icon-white"></i>Regresar
    </a>
</p> 
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

