@using TesisProj.Areas.Modelo.Models

@model List<TesisProj.Areas.Modelo.Models.Celda>

@{
    ViewBag.Title = "Parámetros";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IList<Parametro> parametros = ViewBag.Parametros;
    int Horizonte = ViewBag.Horizonte;
    int IdElemento = ViewBag.IdElemento;
    int IdProyecto = ViewBag.IdProyecto;
}

<h2>Editar parámetros</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Valores</legend>

            <table>
                <tr>
                    <th>
                        Parámetro
                    </th>
                    <th>
                        Referencia
                    </th>
                    @for (int periodo = 1; periodo <= Horizonte; periodo++)
                    {
                        <th style="text-align:center;">
                            @periodo
                        </th>
                    }
                </tr>

            @foreach (var parametro in parametros)
            {
                <tr>
                    <td>
                        @parametro.Nombre
                    </td>
                    <td>
                        @parametro.Referencia
                    </td>
    
                @foreach (var celda in Model.Where(c => c.IdParametro == parametro.Id).OrderBy(c => c.Periodo))
                {
                    <td>
                        @String.Format("{0:#,##0.##}",celda.Valor)
                        @Html.HiddenFor(model => model[Model.IndexOf(celda)].Id)
                        @Html.HiddenFor(model => model[Model.IndexOf(celda)].IdParametro)
                        @Html.HiddenFor(model => model[Model.IndexOf(celda)].Periodo)
                    </td>
                }
                </tr>
            }

            </table>
        </fieldset>

        @Html.Hidden("IdElemento")
        @Html.Hidden("IdProyecto")
}

<div>
    @Html.ActionLink("Regresar", "Catalog", new { id = ViewBag.IdElemento }) |
     @Html.ActionLink("Editar", "SetParametros", new { id = ViewBag.IdElemento })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

