@model IEnumerable<TesisProj.Areas.Modelo.Models.Parametro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asignar Modelo</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

    <table>
@foreach (var item in Model)
{
        <tr>
            <th>@item.Nombre</th>
            <td>
                <div class="btn-group">
                    <a class="btn btn-info" href="@Url.Action("Index", "Binomial", new { Area = "Simulaciones", idParametro = item.Id })">Binomial</a> 
                    <a class="btn btn-info" href="@Url.Action("Index", "Geometrica", new { Area = "Simulaciones", idParametro = item.Id })">Geometrica</a> 
                    <a class="btn btn-info" href="@Url.Action("Index", "Hipergeometrica", new { Area = "Simulaciones", idParametro = item.Id })">Hipergeometrica</a> 
                    <a class="btn btn-info" href="@Url.Action("Index", "Pascal", new { Area = "Simulaciones", idParametro = item.Id })">Pascal</a> 
                    <a class="btn btn-info" href="@Url.Action("Index", "Poisson", new { Area = "Simulaciones", idParametro = item.Id })">Poisson</a> 
                    <a class="btn btn-info" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = item.Id })">Normal</a> 
                    <a class="btn btn-info" href="@Url.Action("Index", "Uniforme", new { Area = "Simulaciones", idParametro = item.Id })">Uniforme</a>               
                </div>
            </td>     
        </tr>
}
            </table>


<div>
@Html.ActionLink("Regresar", "Console", new { id = ViewBag.ProyectoId })
</div>