@using Telerik.Web.Mvc.UI
@model IEnumerable<TesisProj.Areas.Modelo.Models.Elemento>

@{
    ViewBag.Title = "Asignar Modelo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asignar Modelo</h2>
<div class="row">

@foreach (TesisProj.Areas.Modelo.Models.Elemento e in Model)
{
    <div class="panel panel-primary">
        <div class="panel-heading" >
            <h3 class="panel-title">@e.Nombre</h3>
        
                @foreach (TesisProj.Areas.Modelo.Models.Parametro p in e.Parametros)
                {
                    <ul class="nav nav-pills nav-stacked">
                       <li><a href="#">@p.Nombre</a></li>
                    </ul>
                }
        </div>
    </div>    
}

</div>

<table class="table table-hover table-striped">
<thead><tr><th>Parametro</th><th>Modelo Disponible</th></tr></thead>
@foreach (var item in Model)
{
        <tr>
            <td>@item.Nombre</td>
            <td>
                <div class="btn-group">
                    @if(item.binomial!=null)
                    {
                        if(item.binomial.IsEliminado==false)
                        {
                            <a class="btn btn-info" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = item.Id , ProyectoId=ViewBag.ProyectoId })">Binomial</a> 
                        }
                        else
                        {
                            <a class="btn btn" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = item.Id , ProyectoId=ViewBag.ProyectoId })">Binomial</a> 
                        }
                    }
                    @if(item.geometrica!=null)
                    {
                        if (item.geometrica.IsEliminado == false)
                        {
                            <a class="btn btn-info" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Geometrica</a> 
                        }
                        else
                        {
                            <a class="btn btn" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Geometrica</a> 
                        }
                    }
                    @if (item.hipergeometrica != null)
                    {
                        if (item.hipergeometrica.IsEliminado == false)
                        {
                            <a class="btn btn-info" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Hipergeometrica</a> 
                        }
                        else
                        {
                            <a class="btn btn" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Hipergeometrica</a> 
                        }
                    }
                    @if (item.pascal != null)
                    {
                        if (item.pascal.IsEliminado == false)
                        {
                            <a class="btn btn-info" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Pascal</a> 
                        }
                        else
                        {
                            <a class="btn btn" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Pascal</a> 
                        }
                    }
                    @if (item.poisson != null)
                    {
                        if (item.poisson.IsEliminado == false)
                        {
                            <a class="btn btn-info" href="@Url.Action("Index", "Poisson", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Poisson</a> 
                        }
                        else
                        {
                            <a class="btn btn" href="@Url.Action("Index", "Poisson", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Poisson</a> 
                        }
                    } 
                    @if (item.normal != null)
                    {
                        if (item.normal.IsEliminado == false)
                        {
                            <a class="btn btn-info" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Normal</a> 
                        }
                        else
                        {
                            <a class="btn" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Normal</a> 
                        }
                    } 
                    @if (item.uniforme != null)
                    {
                        if (item.uniforme.IsEliminado == false)
                        {
                            <a class="btn btn-info" href="@Url.Action("Index", "Uniforme", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Uniforme</a>               
                        }
                        else
                        {
                            <a class="btn" href="@Url.Action("Index", "Uniforme", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Uniforme</a>               
                        }
                    }                   
                </div>
            </td>     
        </tr>
}
            </table>

<p>
        <br />    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Console", "Proyecto", new { Area = "Modelo", id = ViewBag.ProyectoId })"">
  			<i class=" icon-arrow-left icon-white"></i>Regresar
    </a>
</p>






---------------
@using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "Asignar Modelo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>Elementos<small>  Seleccione un elemento para asignarle un modelo de distribución</small></h1>
</div>

<div class="row-fluid">
    
        @foreach(TesisProj.Areas.Modelo.Models.Elemento e in Model)
        {
            <ul class="thumbnails">
            @foreach(TesisProj.Areas.Modelo.Models.Parametro p in e.Parametros)
            {
                 <li class="span3">
                    <a class="thumbnail">
                        <b>Elemento: </b>@e.Nombre <br />
                        <b>Parametro: </b>@p.Nombre 
                    </a>
                </li>
                <li class="thumbnail span9">
                    @if(p.binomial==null)
                    {
                        <a class="btn" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = p.Id , ProyectoId=ViewBag.ProyectoId })">Binomial</a> 
                    }else
                    {
                        <a class="btn btn-info" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = p.Id , ProyectoId=ViewBag.ProyectoId })">Binomial</a> 
                    }

                    @if(p.geometrica==null)
                    {
                        <a class="btn" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = p.Id, ProyectoId=ViewBag.ProyectoId  })">Geometrica</a> 
                    }else
                    {
                        <a class="btn btn-info" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = p.Id, ProyectoId=ViewBag.ProyectoId  })">Geometrica</a> 
                    }

                    @if (p.hipergeometrica == null)
                    {
                        <a class="btn" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = p.Id, ProyectoId=ViewBag.ProyectoId  })">Hipergeometrica</a> 
                    }else
                    {
                         <a class="btn btn-info" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = p.Id, ProyectoId=ViewBag.ProyectoId  })">Hipergeometrica</a> 
                    }

                    @if (p.pascal == null)
                    {
                        <a class="btn" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = p.Id, ProyectoId=ViewBag.ProyectoId  })">Pascal</a> 
                    }else
                    {
                        <a class="btn btn-info" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = p.Id, ProyectoId=ViewBag.ProyectoId  })">Pascal</a> 
                    }
                        
                    @if (p.poisson == null)
                    {
                        <a class="btn" href="@Url.Action("Index", "Poisson", new { Area = "Simulaciones", idParametro = p.Id, ProyectoId=ViewBag.ProyectoId  })">Poisson</a> 
                    }else
                    {
                        <a class="btn btn-info" href="@Url.Action("Index", "Poisson", new { Area = "Simulaciones", idParametro = p.Id, ProyectoId=ViewBag.ProyectoId  })">Poisson</a> 
                    }

                    @if (p.normal == null)
                    {
                        <a class="btn" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = p.Id, ProyectoId=ViewBag.ProyectoId  })">Normal</a> 
                    }else
                    {
                        <a class="btn btn-info" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = p.Id, ProyectoId=ViewBag.ProyectoId  })">Normal</a> 
                    }
                      
                    @if (p.uniforme == null)
                    {
                        <a class="btn" href="@Url.Action("Index", "Uniforme", new { Area = "Simulaciones", idParametro = p.Id, ProyectoId=ViewBag.ProyectoId  })">Uniforme</a>  
                    }else
                    {
                        <a class="btn btn-info" href="@Url.Action("Index", "Uniforme", new { Area = "Simulaciones", idParametro = p.Id, ProyectoId=ViewBag.ProyectoId  })">Uniforme</a>
                    }
                
                </li>
            }
            </ul>
        }
</div>

@*            



<table class="table table-hover table-striped">
<thead><tr><th>Parametro</th><th>Modelo Disponible</th></tr></thead>
@foreach (var item in Model)
{
        <tr>
            <td>@item.Nombre</td>
            <td>
                <div class="btn-group">
                    @if(item.binomial!=null)
                    {
                        if(item.binomial.IsEliminado==false)
                        {
                            <a class="btn btn-info" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = item.Id , ProyectoId=ViewBag.ProyectoId })">Binomial</a> 
                        }
                        else
                        {
                            <a class="btn btn" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = item.Id , ProyectoId=ViewBag.ProyectoId })">Binomial</a> 
                        }
                    }
                    @if(item.geometrica!=null)
                    {
                        if (item.geometrica.IsEliminado == false)
                        {
                            <a class="btn btn-info" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Geometrica</a> 
                        }
                        else
                        {
                            <a class="btn btn" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Geometrica</a> 
                        }
                    }
                    @if (item.hipergeometrica != null)
                    {
                        if (item.hipergeometrica.IsEliminado == false)
                        {
                            <a class="btn btn-info" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Hipergeometrica</a> 
                        }
                        else
                        {
                            <a class="btn btn" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Hipergeometrica</a> 
                        }
                    }
                    @if (item.pascal != null)
                    {
                        if (item.pascal.IsEliminado == false)
                        {
                            <a class="btn btn-info" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Pascal</a> 
                        }
                        else
                        {
                            <a class="btn btn" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Pascal</a> 
                        }
                    }
                    @if (item.poisson != null)
                    {
                        if (item.poisson.IsEliminado == false)
                        {
                            <a class="btn btn-info" href="@Url.Action("Index", "Poisson", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Poisson</a> 
                        }
                        else
                        {
                            <a class="btn btn" href="@Url.Action("Index", "Poisson", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Poisson</a> 
                        }
                    } 
                    @if (item.normal != null)
                    {
                        if (item.normal.IsEliminado == false)
                        {
                            <a class="btn btn-info" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Normal</a> 
                        }
                        else
                        {
                            <a class="btn" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Normal</a> 
                        }
                    } 
                    @if (item.uniforme != null)
                    {
                        if (item.uniforme.IsEliminado == false)
                        {
                            <a class="btn btn-info" href="@Url.Action("Index", "Uniforme", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Uniforme</a>               
                        }
                        else
                        {
                            <a class="btn" href="@Url.Action("Index", "Uniforme", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Uniforme</a>               
                        }
                    }                   
                </div>
            </td>     
        </tr>
}
            </table>*@

<p>
        <br />    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Console", "Proyecto", new { Area = "Modelo", id = ViewBag.ProyectoId })"">
  			<i class=" icon-arrow-left icon-white"></i>Regresar
    </a>
</p>