@model IEnumerable<TesisProj.Areas.Modelo.Models.Parametro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asignar Modelo</h2>

<table>
@foreach (var item in Model)
{
        <tr>
            <th>@item.Nombre</th>
            <td>
                <div class="btn-group">
                    <a class="btn btn-info" href="@Url.Action("Index", "Binomial", new { Area = "Simulaciones", idParametro = item.Id , ProyectoId=ViewBag.ProyectoId })">Binomial</a> 
                    <a class="btn btn-info" href="@Url.Action("Index", "Geometrica", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Geometrica</a> 
                    <a class="btn btn-info" href="@Url.Action("Index", "Hipergeometrica", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Hipergeometrica</a> 
                    <a class="btn btn-info" href="@Url.Action("Index", "Pascal", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Pascal</a> 
                    <a class="btn btn-info" href="@Url.Action("Index", "Poisson", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Poisson</a> 
                    <a class="btn btn-info" href="@Url.Action("Index", "Normal", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Normal</a> 
                    <a class="btn btn-info" href="@Url.Action("Index", "Uniforme", new { Area = "Simulaciones", idParametro = item.Id, ProyectoId=ViewBag.ProyectoId  })">Uniforme</a>               
                </div>
            </td>     
        </tr>
}
            </table>

<h5><a href="@Url.Action("Console", "Proyecto", new { Area = "Modelo", id = ViewBag.ProyectoId})">Regresar</a></h5>
