@model TesisProj.Areas.Modelos.Models.Poisson
@using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "Poisson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Distribucion Poisson</h2>
<br />

@using (Html.BeginForm())
{
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Poisson</legend>

    <div class="conteiner">
        <div class="span2 label label-inverse">@Html.LabelFor(model => model.po_L) @Html.Telerik().AutoCompleteFor(model => model.po_L).HtmlAttributes(new { style = "width: 100px" })</div>
        <div class="span2 label label-inverse">@Html.LabelFor(model => model.po_K) @Html.Telerik().AutoCompleteFor(model => model.po_K).HtmlAttributes(new { style = "width: 100px" })</div>
        <div class="span2 label label-inverse">@Html.LabelFor(model => model.limiteInf) @Html.Telerik().AutoCompleteFor(model => model.limiteInf).HtmlAttributes(new { style = "width: 100px" })</div>
        <div class="span2 label label-inverse">@Html.LabelFor(model => model.limiteSup) @Html.Telerik().AutoCompleteFor(model => model.limiteSup).HtmlAttributes(new { style = "width: 100px" })</div>
        <div class="span3" ><button class="btn" type="submit">Previo</button> </div>
    <br />    <br />    <br />    <br />    
<div class="span12">
    <div class="span5">@{Html.RenderAction("_CeldasSimuladas", "Poisson");}</div>
    <div class="span5">@{Html.RenderAction("_GraficoSimulacion", "Poisson");}</div>
</div>

    </div>
</fieldset>
   
}

<p>
        <br />    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Index", "MaestroSimulacion", new { Area = "Simulaciones", idProyecto = ViewBag.idProyecto})"">
  			<i class="icon-arrow-left icon-white"></i>Regresar
    </a>
</p>
