@{
    ViewBag.Title = "Evaluación de proyectos";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                ¡Aquí vamos!
            </p>
        </div>
    </section>
}
<h3>¡Bienvenido!</h3>
<table class="table table-hover table-striped table-bordered table-condensed">
    <tr>
        <td>
            <ol class="round">
                <li class="one">
                    <h5><a href="@Url.Action("Index", "Proyecto", new { Area = "Modelo" })">Proyectos</a></h5>
                    ¡Crea tus proyectos!
                </li>
            </ol>
        </td>
    </tr>
    <tr>
        <td>
            <ol class="round">
                <li class="two">
                    <h5><a href="@Url.Action("Index", "CompararProyectos", new { Area = "CompararProyecto" })">Comparar Proyectos</a></h5>
                    Compara la rentabilidad de tus proyectos
                </li>
            </ol>
        </td>
    </tr>
    <tr>
        <td>
            <ol class="round">
                <li class="three">
                    <h5><a href="@Url.Action("Index", "CompararVersiones", new { Area = "CompararProyecto" })">Comparar Versiones</a></h5>
                    Compara la rentabilidad de las versiones de tus proyectos
                </li>
            </ol>
        </td>
    </tr>
     <tr>
        <td>
            <ol class="round">
                <li class="four">
                    <h5><a href="@Url.Action("Index", "Admin", new { Area = "" })">Plantillas</a></h5>
                    Cree y administre plantillas de elementos y resultados
                </li>
            </ol>
        </td>
    </tr>
</table>
