@model IEnumerable<TesisProj.Areas.Plantilla.Models.PlantillaProyecto>

@{
    ViewBag.Title = "Plantillas de proyectos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Plantillas de proyectos</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
