@using TesisProj.Areas.Comparacion.Models;
@model ICollection<TesisProj.Areas.Comparacion.Models.Comparar>


    
        @foreach (TesisProj.Areas.Comparacion.Models.Comparar e in Model)
        {
            <table class="table table-striped table-hover">
                <tr>
                    <td>@e.proyecto.Nombre</td>
                    <td>
                        <ul class="thumbnails row-fluid">
                <li style="text-align:center">
                    <div class="thumbnail">
                        <h4>Van del Inversionista</h4>
                        <p>@(Math.Round(e.VanInversionista,2))</p>
                    </div>
                </li>
                <li style="text-align:center">
                    <div class="thumbnail">
                        <h4>Van del Proyaecto</h4>
                        <p>@(Math.Round(e.VanProyecto,2))</p>
                    </div>
                </li>
                <li style="text-align:center">
                    <div class="thumbnail">
                        <h4>Tir del Inversionista</h4>
                        <p>@(Math.Round(e.TirInversionista,2))</p>
                    </div>
                </li>
                <li style="text-align:center">
                    <div class="thumbnail">
                        <h4>Tir del Proyecto</h4>
                        <p>@(Math.Round(e.TirProyecto,2))</p>
                    </div>
                </li>
            </ul> 
                    </td>
                </tr>
            </table>
            
        }
 