@model TesisProj.Areas.Plantilla.Models.SubTipoElemento

@{
    ViewBag.Title = "Subtipos de elemento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle</h2>

<fieldset>
    <legend>Subtipo de elemento</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoElemento.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoElemento.Nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
