@model TesisProj.Areas.Plantilla.Models.PlantillaSalidaProyecto

@{
    ViewBag.Title = "Salidas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Está seguro de eliminar este registro?</h3>
<fieldset>
    <legend>Salida</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Secuencia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Secuencia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PlantillaProyecto.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlantillaProyecto.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cadena)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cadena)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Regresar", "Index", routeValues: new { id = @Model.IdPlantillaProyecto }, htmlAttributes: null)
    </p>
    @Html.ValidationMessageFor(model => model.Nombre)
}
