@model TesisProj.Areas.Modelos.Models.Normal
@using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "Normal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Distribucion Normal</h2>
<br />

@using (Html.BeginForm())
{
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Normal</legend>

    <div class="conteiner">
        <div class="span2 label label-inverse">@Html.LabelFor(model => model.n_mean) @Html.Telerik().AutoCompleteFor(model => model.n_mean).HtmlAttributes(new { style = "width: 100px" })</div>
        <div class="span3 label label-inverse">@Html.LabelFor(model => model.n_std) @Html.Telerik().AutoCompleteFor(model => model.n_std).HtmlAttributes(new { style = "width: 100px" })</div>
        <div class="span3" ><button class="btn" type="submit">Previo</button> </div>
    <br />    <br />    <br />    <br />    
        <table>
        <tr>
            <td>
                <div class="span12">@{Html.RenderAction("_CeldasSimuladas", "Normal");}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="span12">@{Html.RenderAction("_GraficoSimulacion", "Normal");}</div>
            </td>
        </tr>
    </table>
    </div>
</fieldset>
   
}

<p>
        <br />    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Index", "MaestroSimulacion", new { Area = "Simulaciones", idProyecto = ViewBag.idProyecto})"">
  			<i class="icon-arrow-left icon-white"></i>Regresar
    </a>
</p>
