@model TesisProj.Areas.Modelos.Models.Normal
@using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Distribucion Normal</h2>

@using (Html.BeginForm())
{
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Normal</legend>

    <div class="conteiner span12">
        <div class="span2 label label-inverse">@Html.LabelFor(model => model.n_mean) @Html.Telerik().AutoCompleteFor(model => model.n_mean).HtmlAttributes(new { style = "width: 100px" })</div>
        <div class="span3 label label-inverse">@Html.LabelFor(model => model.n_std) @Html.Telerik().AutoCompleteFor(model => model.n_std).HtmlAttributes(new { style = "width: 100px" })</div>
        <div class="span2 label label-inverse">@Html.LabelFor(model => model.n_E) @Html.Telerik().AutoCompleteFor(model => model.n_E).HtmlAttributes(new { style = "width: 100px" }).Enable(false)</div>
        <div class="span2 label label-inverse">@Html.LabelFor(model => model.n_V) @Html.Telerik().AutoCompleteFor(model => model.n_V).HtmlAttributes(new { style = "width: 100px" }).Enable(false)</div>
    </div>

    <table>
        <tr>
            <td>
                <div class="span12">@{Html.RenderAction("_CeldasSimuladas", "Normal");}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="span12">@{Html.RenderAction("_GraficoSimulacion", "Normal");}</div>
            </td>
        </tr>
    </table>

</fieldset>
    
    <button class="btn btn-inverse" type="submit">Establecer</button>
}
    <h5><a href="@Url.Action("Index", "MaestroSimulacion", new { Area = "Simulaciones", idProyecto = ViewBag.idProyecto})">Regresar</a></h5>

