@model TesisProj.Areas.Seguridad.Models.Colaborador

@{
    ViewBag.Title = "Colaboradores: " + ViewBag.Proyecto;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int idProyecto = ViewBag.IdProyectoReturn;
}

<h2>Crear colaborador de @ViewBag.Proyecto</h2>

<p>
    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Index", new { id = ViewBag.IdProyectoReturn })"">
  	    <i class="icon-arrow-left icon-white"></i>Regresar
    </a><br /><br />
</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Colaborador</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdUsuario)
        </div>
        <div class="editor-field">
            @Html.TextBox("colaborador")
            @Html.ValidationMessageFor(model => model.IdUsuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdProyecto, "Proyecto")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdProyecto")
            @Html.ValidationMessageFor(model => model.IdProyecto)
        </div>
        @Html.Hidden("idProyecto")

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<p>
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Index", new { id = ViewBag.IdProyectoReturn })"">
  	    <i class="icon-arrow-left icon-white"></i>Regresar
    </a>
</p>


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
