@model TesisProj.Areas.Plantilla.Models.Formula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Formula</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Secuencia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Secuencia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PlantillaElemento.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlantillaElemento.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoFormula.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoFormula.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cadena)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cadena)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
