@model TesisProj.Areas.Modelos.Models.Uniforme
@using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "Uniforme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Distribucion Uniforme</h2>
<br />
@using (Html.BeginForm())
{
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Uniforme</legend>

    <div class="conteiner span12">
        <div class="span2 label label-inverse">@Html.LabelFor(model => model.u_a) @Html.Telerik().AutoCompleteFor(model => model.u_a).HtmlAttributes(new { style = "width: 100px" })</div>
        <div class="span3 label label-inverse">@Html.LabelFor(model => model.u_b) @Html.Telerik().AutoCompleteFor(model => model.u_b).HtmlAttributes(new { style = "width: 100px" })</div>
        <div class="span3" ><button class="btn" type="submit">Previo</button></div>
    </div>
        <br />    <br />    <br />    <br />    
    <table>
        <tr>
            <td>
                <div class="span12">@{Html.RenderAction("_CeldasSimuladas", "Normal");}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="span12">@{Html.RenderAction("_GraficoSimulacion", "Normal");}</div>
            </td>
        </tr>
    </table>

</fieldset>
    
    
}

<p>
        <br />    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Index", "MaestroSimulacion", new { Area = "Simulaciones", idProyecto = ViewBag.idProyecto})">
  			<i class="icon-arrow-left icon-white"></i>Regresar
    </a>
</p>
