@{
    ViewBag.Title = "Evaluación de proyectos";
}

<h2>Administración y plantillas:</h2>

<p>
    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Index", "Home", new { Area = "" })"">
  			<i class="icon-arrow-left icon-white"></i>Regresar
    </a>
    <br /><br />
</p>

<table class="table table-hover table-striped table-bordered table-condensed">
    <tr>
        <td>
            <ol class="round">
             <li class="one">
                    <h5><a href="@Url.Action("Index", "TipoElemento", new { Area = "Plantilla" })">Tipos de elemento</a></h5>
                    Administrar tipos de los elementos
                </li>
            </ol>
        </td>
    </tr>
    <tr>
        <td>
            <ol class="round">
                <li class="two">
                    <h5><a href="@Url.Action("Index", "TipoFormula", new { Area = "Plantilla" })">Tipo de fórmulas</a></h5>
                    Administrar tipos de las fórmulas
                </li>
            </ol>
        </td>
    </tr>
    <tr>
        <td>
            <ol class="round">
                <li class="three">
                    <h5><a href="@Url.Action("Index", "TipoParametro", new { Area = "Plantilla" })">Tipos de parámetro</a></h5>
                    Administrar tipos de los parámetros
                </li>
            </ol>
        </td>
    </tr>
    <tr>
        <td>
            <ol class="round">
                <li class="four">
                    <h5><a href="@Url.Action("Index", "PlantillaElemento", new { Area = "Plantilla" })">Plantillas de elementos</a></h5>
                    Administrar las plantillas de los elementos
                </li>
            </ol>
        </td>
    </tr>
    <tr>
        <td>
            <ol class="round">
                <li class="five">
                    <h5><a href="@Url.Action("Index", "PlantillaProyecto", new { Area = "Plantilla" })">Plantillas de proyectos</a></h5>
                    Administrar las plantillas de los proyectos
                </li>
            </ol>
        </td>
    </tr>
</table>
<p>
    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Index", "Home", new { Area = "" })"">
  			<i class="icon-arrow-left icon-white"></i>Regresar
    </a>
</p>