@model TesisProj.Areas.Plantilla.Models.PlantillaParametro

@{
    ViewBag.Title = "Parámetros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Parámetro</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Referencia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Referencia)
            @Html.ValidationMessageFor(model => model.Referencia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdPlantillaElemento)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdPlantillaElemento")
            @Html.ValidationMessageFor(model => model.IdPlantillaElemento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdTipoParametro)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdTipoParametro", String.Empty)
            @Html.ValidationMessageFor(model => model.IdTipoParametro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Constante)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.Constante)
            @Html.ValidationMessageFor(model => model.Constante)
        </div>

        @Html.HiddenFor(model => model.Id)

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "Index", routeValues: new { id = @Model.IdPlantillaElemento }, htmlAttributes: null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
