@model IEnumerable<TesisProj.Models.UserProfile>

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuarios del sistema</h2>

<p>
    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Index", "Home", new { Area = "" })"">
  			<i class="icon-arrow-left icon-white"></i>Regresar
    </a>
    <br /><br />
</p>
<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @if (Roles.IsUserInRole(item.UserName, "nav"))
            {
                @Html.ActionLink("Bloquear usuario", "Block", new { username=item.UserName, policy = true }, new { onclick="return BlockConfirm()" })
            }
            else
            {
                @Html.ActionLink("Desbloquear usuario", "Block", new { username=item.UserName, policy = false }, new { onclick="return UnBlockConfirm()" })
            }
            @Html.Raw(" | ")
            @if (Roles.IsUserInRole(item.UserName, "admin"))
            {
                @Html.ActionLink("Quitar privilegios de administración", "Prize", new { username=item.UserName, policy = false }, new { onclick="return UnPrizeConfirm()" })
            }
            else
            {
                @Html.ActionLink("Dar privilegios de administración", "Prize", new { username=item.UserName, policy = true }, new { onclick="return PrizeConfirm()" })
            }
        </td>
    </tr>
}
</table>

<p>
    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Index", "Home", new { Area = "" })"">
  			<i class="icon-arrow-left icon-white"></i>Regresar
    </a>
</p>

<script>
    function BlockConfirm(){
        if (confirm("¿Está seguro que desea bloquear al usuario?"))
            return true;
        else
            return false;     
    }

    function UnBlockConfirm(){
        if (confirm("¿Está seguro que desea desbloquear al usuario?"))
            return true;
        else
            return false;     
    }

    function PrizeConfirm() {
        if (confirm("¿Está seguro que desea darle privilegios de administración al usuario?"))
            return true;
        else
            return false;
    }

    function UnPrizeConfirm() {
        if (confirm("¿Está seguro que desea quitarle los privilegios de administrador al usuario?"))
            return true;
        else
            return false;
    }
</script>

