@model IEnumerable<TesisProj.Areas.Plantilla.Models.SalidaElemento>

@{
    ViewBag.Title = "Salidas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Salidas de @ViewBag.Plantilla (@ViewBag.TipoPlantilla)</h2>

<p>
    @Html.ActionLink("Crear", "Create", new { idPlantilla = ViewBag.IdPlantilla })
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Secuencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlantillaElemento.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Formula.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Secuencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlantillaElemento.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Formula.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Regresar", "Index", "PlantillaElemento", routeValues: new { Area = "Plantilla" }, htmlAttributes: null)
</div>