@model TesisProj.Areas.MonteCarlo.Models.MetodoMonteCarlo
@using TesisProj.Areas.Modelo.Models
@using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Configuracion de Parametros</h2>
<br />
@using (Html.BeginForm())
{
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Metodo de Monte Carlo</legend>
    
    <div class="conteiner">
        <div class="span4 label label-inverse"><table><tr><td>@Html.DisplayNameFor(model => model.NumeroSimulaciones)</td><td>@Html.Telerik().IntegerTextBoxFor(model => model.NumeroSimulaciones).InputHtmlAttributes(new { style = "width: 80px" }).IncrementStep(1).MinValue(0).MaxValue(1000)</td></tr></table></div>
        <div class="span4 label label-inverse"><table><tr><td>@Html.DisplayNameFor(model => model.NumeroIntervalos)</td><td>@Html.Telerik().IntegerTextBoxFor(model => model.NumeroIntervalos).InputHtmlAttributes(new { style = "width: 80px" }).IncrementStep(1).MinValue(0).MaxValue(100)</td></tr></table></div>
        <div class="span4"><button class="btn" type="submit">Calcular</button> </div> 
    </div>
</fieldset>
   

}
<p>
        <br />    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Console", "Proyecto", new { Area = "Modelo",id= ViewBag.idProyecto })"">
  			<i class="icon-arrow-left icon-white"></i>Regresar
    </a>
</p> 