@model TesisProj.Areas.MonteCarlo.Models.AlgoritmoMonteCarlo
@using TesisProj.Areas.Modelo.Models
@using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Configuracion de Parametros</h2>
<br />
@using (Html.BeginForm())
{
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Metodo de Monte Carlo</legend>
    
    <div class="conteiner">
        <div class="span4 label label-inverse"><table><tr><td>@Html.DisplayNameFor(model => model.NumeroSimulaciones)</td><td>@Html.Telerik().AutoCompleteFor(model => model.NumeroSimulaciones).HtmlAttributes(new { style = "width: 80px" })</td></tr></table></div>
        <div class="span4 label label-inverse"><table><tr><td>@Html.DisplayNameFor(model => model.NumeroIntervalos)</td><td>@Html.Telerik().AutoCompleteFor(model => model.NumeroIntervalos).HtmlAttributes(new { style = "width: 80px" })</td></tr></table></div>
        <div class="span4"><button class="btn" type="submit">Calcular</button> </div> 
    </div>
    <br /><br /><br /><br />
        <div class="span12">
    <table class="table table-striped table-hover">
        <tr>
            <th>Parametro</th><th>Distribucion Asignada</th><th>Configuracion</th><th>Estado</th>
        </tr>
        
            @foreach (Parametro p in Model.Parametros)
            {
                <tr>
                    <td>@p.Nombre</td>
                    @if(p.normal.IsEliminado==false) {<td>@p.normal.Nombre</td><td><ul  style="text-align:center" class="thumbnails row-fluid"><li><div class="thumbnail"><h4>Promedio</h4><p>@p.normal.n_mean</p></div></li><li><div class="thumbnail"><h4>Dev Std</h4><p>@p.normal.n_std</p></div></li></ul></td>}
                    @if(p.uniforme.IsEliminado==false) {<td>@p.uniforme.Nombre</td><td><ul  style="text-align:center" class="thumbnails row-fluid"><li><div class="thumbnail"><h4>Lim Izq</h4><p>@p.uniforme.u_a</p></div></li><li><div class="thumbnail"><h4>Lim Der</h4><p>@p.uniforme.u_b</p></div></li></ul></td>}
                    @if(p.binomial.IsEliminado==false) {<td>@p.binomial.Nombre</td>}
                    @if(p.geometrica.IsEliminado==false) {<td>@p.geometrica.Nombre</td>}
                    @if(p.hipergeometrica.IsEliminado==false) {<td>@p.hipergeometrica.Nombre</td>}
                    @if(p.poisson.IsEliminado==false) {<td>@p.poisson.Nombre</td><td><ul  style="text-align:center" class="thumbnails row-fluid"><li><div class="thumbnail"><h4>Landa</h4><p>@p.poisson.po_L</p></div></li><li><div class="thumbnail"><h4>Nummero de Muestras</h4><p>@p.poisson.po_K</p></div></li></ul></td>}
                    @if(p.pascal.IsEliminado==false) {<td>@p.pascal.Nombre</td>}
                    <td><i class="icon-ok"></i> </td>                                                         
                </tr>
            }
        
    </table>
        </div>
</fieldset>
   

}
<p>
        <br />    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Console", "Proyecto", new { Area = "Modelo",id= ViewBag.idProyecto })"">
  			<i class="icon-arrow-left icon-white"></i>Regresar
    </a>
</p> 