@model TesisProj.Areas.MonteCarlo.Models.AlgoritmoMonteCarlo
@using TesisProj.Areas.Modelo.Models
@using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resultados de la Simulacion de Monte Carlo</h2>
<br />

<div class="container">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#1" data-toggle="tab">Económico</a>
            </li>
            <li>
                <a href="#2" data-toggle="tab">Financiero</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="1"> 
                <div class="span12">
                    <ul class="thumbnails row-fluid">
                        <li class="span4">
                            <div class="thumbnail">
                            <h4>Resultados Para el Inversionista</h4>
                            <p>Se presenta los resultados Obtenidos en vista al Inversionista</p>
                        </div>
                        </li>
                        <li class="span7">
                            <ul class="thumbnails" style="text-align: center">
                                <li class="span3">
                                    <div class="thumbnail">
                                        <h4>VAN Maximo</h4>
                                        <p>@Math.Round(Model.MaxVanEconomico,2)</p>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <h4>VAN Minimo</h4>
                                        <p>@Math.Round(Model.MinVanEconomico,2)</p>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <h4>TIR Maximo</h4>
                                        <p>@Math.Round(Model.MaxTirEconomico)</p>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <h4>TIR Minimo</h4>
                                        <p>@Math.Round(Model.MinTirEconomico)</p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="span12">
                    <div class="span10">@{Html.RenderAction("_GraficoVanInversionista", "MonteCarlo");}</div>
                    @*<div class="span5">@{Html.RenderAction("_GraficoTirInversionista", "MonteCarlo");}</div>*@
               </div>
            </div>
            <div class="tab-pane" id="2"> 
                <div class="span12">
                    <ul class="thumbnails row-fluid">
                        <li class="span4">
                            <div class="thumbnail">
                            <h4>Resultados Para el Proyecto</h4>
                            <p>Se presenta los resultados Obtenidos en vista al Proyecto</p>
                        </div>
                        </li>
                        <li class="span7">
                            <ul class="thumbnails" style="text-align: center">
                                <li class="span3">
                                    <div class="thumbnail">
                                        <h4>VAN Maximo</h4>
                                        <p>@Math.Round(Model.MaxVanFinanciero,2)</p>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <h4>VAN Minimo</h4>
                                        <p>@Math.Round(Model.MinVanFinanciero,2)</p>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <h4>TIR Maximo</h4>
                                        <p>@Math.Round(Model.MaxTirFinanciero,2)</p>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <h4>TIR Minimo</h4>
                                        <p>@Math.Round(Model.MinTirFinanciero,2)</p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            <div class="span12">
                <div class="span10">@{Html.RenderAction("_GraficoVanProyecto", "MonteCarlo");}</div>
                @*<div class="span5">@{Html.RenderAction("_GraficoTirProyecto", "MonteCarlo");}</div>*@
           </div>
            </div>
        </div>
    </div>
</div>


<p>
        <br />    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Index", "MonteCarlo", new { Area = "MonteCarlo", idProyecto = ViewBag.idProyecto})"">
  			<i class="icon-arrow-left icon-white"></i>Regresar
    </a>
</p>



