@model TesisProj.Areas.Simulaciones.Models.ModeloSimulacion
@using Telerik.Web.Mvc.UI;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String[] Cabeceras = (string[])ViewBag.Cabeceras;
    String[] Valores = (string[])ViewBag.Valores;
    String[] CronogramaTitulo = (string[])ViewBag.CronogramaTitulo;
    String[] CronogramaValor = (string[])ViewBag.CronogramaValor;
    String[] ValoresSimulados = (string[])ViewBag.ValoresSimulados;
}

<h2>@ViewBag.Titulo</h2>
<b>Valores Reales</b>
<p>
    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2" href="@Url.Action("Index", "ParametrosSencibles", new { idProyecto = ViewBag.ProyectoId  })"">
  	    <i class="icon-arrow-left icon-white"></i>Regresar
    </a>
    <br /> <br />
</p>

    <table class="table table-hover table-striped table-bordered">
            <tr class="success">
                @foreach (string s in CronogramaTitulo)
                {
                    <td><u><b>@s</b></u></td>
                }
            </tr>
            <tr>
                @foreach(string s in CronogramaValor)
                {
                    <td><u><b>@s</b></u></td>
                }
            </tr>
        </table>
    
    @if (ValoresSimulados != null)
    {
        <b>Valores Simulados</b>
        <table class="table table-hover table-striped table-bordered">
            <tr class="success">
                @foreach (string s in CronogramaTitulo)
                {
                    <td><u><b>@s</b></u></td>
                }
            </tr>
            <tr>
                @foreach (string s in ValoresSimulados)
                {
                    <td><u><b>@s</b></u></td>
                }
            </tr>
        </table>
    }

    @if(Cabeceras!=null)
    {
        <h3><b>@ViewBag.SubTitulo</b></h3>
        <b>Parametros</b>
        <table class="table table-hover table-striped table-bordered">
            <tr class="success">
                @foreach (string s in Cabeceras)
                {
                    <td><u><b>@s</b></u></td>
                }
            </tr>
            <tr>
                @foreach(string s in Valores)
                {
                    <td><u><b>@s</b></u></td>
                }
            </tr>
        </table>
        if (Session["Parche"] != null)
        {<table class="table table-hover table-striped table-bordered">
            <tr>
                <td>Valores Ingresados</td>
                <td>@(Server.HtmlEncode(((string)Session["Parche"])))</td>
            </tr>
         </table>
        }
    }
    


<div class="row-fluid">
    <div class="span4">
        <fieldset>
            <legend>Discretas</legend>
            <div class="span12">
                <div class="row-fluid">
                    <div class="span12 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat green">
                            @*<div class="visual">*@
                            <div class="span6">
                                <img alt="@Model.Nombre_Binomial"
                                     src="@Url.Action("getImg", "ModeloSimulacion", new { nombre = Model.Nombre_Binomial })"
                                     height="80"
                                     width="100"
                                     class="item" />
                            </div>
                            <div class="span6">
                            @*<div class="details">*@
                                <a href='@Url.Action("Asignacion", "ModeloSimulacion", new { Name =  Model.Nombre_Binomial, ProyectoId=ViewBag.ProyectoId, ParametroId=ViewBag.ParametroId, Opcion=1 })' class="btn green">@Model.Nombre_Binomial</a>
                            </div>
                </div>
                    </div> 
                </div>
                <div class="row-fluid">
                    <div class="span12 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat green">
                            @*<div class="visual">*@
                            <div class="span6">
                                <img alt="@Model.Nombre_Geometrica"
                                     src="@Url.Action("getImg", "ModeloSimulacion", new { nombre = Model.Nombre_Geometrica })"
                                     height="80"
                                     width="100"
                                     class="item" />
                            </div>
                            <div class="span6">
                            @*<div class="details">*@
                                <a href='@Url.Action("Asignacion", "ModeloSimulacion", new { Name =  Model.Nombre_Geometrica, ProyectoId=ViewBag.ProyectoId, ParametroId=ViewBag.ParametroId, Opcion=1 })' class="btn green">@Model.Nombre_Geometrica</a>
                            </div>
                </div>
                    </div> 
                </div>
                <div class="row-fluid">
                    <div class="span12 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat green">
                            @*<div class="visual">*@
                            <div class="span6">
                                <img alt="@Model.Nombre_HiperGeometrica"
                                     src="@Url.Action("getImg", "ModeloSimulacion", new { nombre = Model.Nombre_HiperGeometrica })"
                                     height="80"
                                     width="100"
                                     class="item" />
                            </div>
                            <div class="span6">
                            @*<div class="details">*@
                                <a href='@Url.Action("Asignacion", "ModeloSimulacion", new { Name =  Model.Nombre_HiperGeometrica, ProyectoId=ViewBag.ProyectoId, ParametroId=ViewBag.ParametroId, Opcion=1 })' class="btn green">@Model.Nombre_HiperGeometrica</a>
                            </div>
                </div>
                    </div> 
                </div>
                <div class="row-fluid">
                    <div class="span12 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat green">
                            @*<div class="visual">*@
                            <div class="span6">
                                <img alt="@Model.Nombre_Poisson"
                                     src="@Url.Action("getImg", "ModeloSimulacion", new { nombre = Model.Nombre_Poisson })"
                                     height="80"
                                     width="100"
                                     class="item" />
                            </div>
                            <div class="span6">
                            @*<div class="details">*@
                                <a href='@Url.Action("Asignacion", "ModeloSimulacion", new { Name =  Model.Nombre_Poisson, ProyectoId=ViewBag.ProyectoId, ParametroId=ViewBag.ParametroId, Opcion=1 })' class="btn green">@Model.Nombre_Poisson</a>
                            </div>
                </div>
                    </div> 
                </div>
                <div class="row-fluid">
                    <div class="span12 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat green">
                            @*<div class="visual">*@
                            <div class="span6">
                                <img alt="@Model.Nombre_UniformeDiscreta"
                                     src="@Url.Action("getImg", "ModeloSimulacion", new { nombre = Model.Nombre_UniformeDiscreta })"
                                     height="80"
                                     width="100"
                                     class="item" />
                            </div>
                            <div class="span6">
                            @*<div class="details">*@
                                <a href='@Url.Action("Asignacion", "ModeloSimulacion", new { Name =  Model.Nombre_UniformeDiscreta, ProyectoId=ViewBag.ProyectoId, ParametroId=ViewBag.ParametroId, Opcion=1 })' class="btn green">@Model.Nombre_UniformeDiscreta</a>
                            </div>
                </div>
                    </div> 
                </div>
           </div>
        </fieldset>
    </div>

    <div class="span8">
        <fieldset>
            <legend>Continuas</legend>
                <div class="span12">
                    <div class="span6">
                        <div class="row-fluid">
                            <div class="span12 responsive" data-tablet="span6" data-desktop="span3">
                                <div class="dashboard-stat green">
                                    @*<div class="visual">*@
                                    <div class="span6">
                                        <img alt="@Model.Nombre_Beta"
                                             src="@Url.Action("getImg", "ModeloSimulacion", new { nombre = Model.Nombre_Beta })"
                                             height="60"
                                             width="100"
                                             class="item" />
                                    </div>
                                    <div class="span6">
                                    @*<div class="details">*@
                                        <a href='@Url.Action("Asignacion", "ModeloSimulacion", new { Name =  Model.Nombre_Beta, ProyectoId=ViewBag.ProyectoId, ParametroId=ViewBag.ParametroId, Opcion=1 })' class="btn green">@Model.Nombre_Beta</a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="row-fluid">
                            <div class="span12 responsive" data-tablet="span6" data-desktop="span3">
                                <div class="dashboard-stat green">
                                    @*<div class="visual">*@
                                    <div class="span6">
                                        <img alt="@Model.Nombre_ChiCuadrado"
                                             src="@Url.Action("getImg", "ModeloSimulacion", new { nombre = Model.Nombre_ChiCuadrado })"
                                             height="60"
                                             width="100"
                                             class="item" />
                                    </div>
                                    <div class="span6">
                                    @*<div class="details">*@
                                        <a href='@Url.Action("Asignacion", "ModeloSimulacion", new { Name =  Model.Nombre_ChiCuadrado, ProyectoId=ViewBag.ProyectoId, ParametroId=ViewBag.ParametroId, Opcion=1 })' class="btn green">@Model.Nombre_ChiCuadrado</a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="row-fluid">
                            <div class="span12 responsive" data-tablet="span6" data-desktop="span3">
                                <div class="dashboard-stat green">
                                    @*<div class="visual">*@
                                    <div class="span6">
                                        <img alt="@Model.Nombre_Exponencial"
                                             src="@Url.Action("getImg", "ModeloSimulacion", new { nombre = Model.Nombre_Exponencial })"
                                             height="60"
                                             width="100"
                                             class="item" />
                                    </div>
                                    <div class="span6">
                                    @*<div class="details">*@
                                        <a href='@Url.Action("Asignacion", "ModeloSimulacion", new { Name =  Model.Nombre_Exponencial , ProyectoId=ViewBag.ProyectoId, ParametroId=ViewBag.ParametroId, Opcion=1})' class="btn green">@Model.Nombre_Exponencial</a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="row-fluid">
                            <div class="span12 responsive" data-tablet="span6" data-desktop="span3">
                                <div class="dashboard-stat green">
                                    @*<div class="visual">*@
                                    <div class="span6">
                                        <img alt="@Model.Nombre_F"
                                             src="@Url.Action("getImg", "ModeloSimulacion", new { nombre = Model.Nombre_F })"
                                             height="60"
                                             width="100"
                                             class="item" />
                                    </div>
                                    <div class="span6">
                                    @*<div class="details">*@
                                        <a href='@Url.Action("Asignacion", "ModeloSimulacion", new { Name =  Model.Nombre_F , ProyectoId=ViewBag.ProyectoId, ParametroId=ViewBag.ParametroId, Opcion=1})' class="btn green">@Model.Nombre_F</a>
                                    </div>
                        </div>
                            </div> 
                        </div>
                        @*<div class="row-fluid">
                            <div class="span12 responsive" data-tablet="span6" data-desktop="span3">
                                <div class="dashboard-stat green">
                                    @*<div class="visual">
                                    <div class="span6">
                                        <img alt="@Model.Nombre_Gamma"
                                             src="@Url.Action("getImg", "ModeloSimulacion", new { nombre = Model.Nombre_Gamma })"
                                             height="60"
                                             width="100"
                                             class="item" />
                                    </div>
                                    <div class="span6">
                                    @*<div class="details">
                                        <a href='@Url.Action("Asignacion", "ModeloSimulacion", new { Name =  Model.Nombre_Gamma })' class="btn green">@Model.Nombre_Gamma</a>
                                    </div>
                                </div>
                            </div> 
                        </div>*@
                    </div>
                    <div class="span6">
                        <div class="row-fluid">
                            <div class="span12 responsive" data-tablet="span6" data-desktop="span3">
                                <div class="dashboard-stat green">
                                    @*<div class="visual">*@
                                    <div class="span6">
                                        <img alt="@Model.Nombre_Normal"
                                             src="@Url.Action("getImg", "ModeloSimulacion", new { nombre = Model.Nombre_Normal })"
                                             height="60"
                                             width="100"
                                             class="item" />
                                    </div>
                                    <div class="span6">
                                    @*<div class="details">*@
                                        <a href="#myModal" role="button" class="btn" data-toggle="modal">Normal</a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="row-fluid">
                            <div class="span12 responsive" data-tablet="span6" data-desktop="span3">
                                <div class="dashboard-stat green">
                                    @*<div class="visual">*@
                                    <div class="span6">
                                        <img alt="@Model.Nombre_Pareto"
                                             src="@Url.Action("getImg", "ModeloSimulacion", new { nombre = Model.Nombre_Pareto })"
                                             height="60"
                                             width="100"
                                             class="item" />
                                    </div>
                                    <div class="span6">
                                    @*<div class="details">*@
                                        <a href='@Url.Action("Asignacion", "ModeloSimulacion", new { Name =  Model.Nombre_Pareto, ProyectoId=ViewBag.ProyectoId, ParametroId=ViewBag.ParametroId, Opcion=1 })' class="btn green">@Model.Nombre_Pareto</a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="row-fluid">
                            <div class="span12 responsive" data-tablet="span6" data-desktop="span3">
                                <div class="dashboard-stat green">
                                    @*<div class="visual">*@
                                    <div class="span6">
                                        <img alt="@Model.Nombre_Tstudent"
                                             src="@Url.Action("getImg", "ModeloSimulacion", new { nombre = Model.Nombre_Tstudent })"
                                             height="60"
                                             width="100"
                                             class="item" />
                                    </div>
                                    <div class="span6">
                                    @*<div class="details">*@
                                        <a href='@Url.Action("Asignacion", "ModeloSimulacion", new { Name =  Model.Nombre_Tstudent, ProyectoId=ViewBag.ProyectoId, ParametroId=ViewBag.ParametroId, Opcion=1})' class="btn green">@Model.Nombre_Tstudent</a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="row-fluid">
                            <div class="span12 responsive" data-tablet="span6" data-desktop="span3">
                                <div class="dashboard-stat green">
                                    @*<div class="visual">*@
                                    <div class="span6">
                                        <img alt="@Model.Nombre_UniformeContinua"
                                             src="@Url.Action("getImg", "ModeloSimulacion", new { nombre = Model.Nombre_UniformeContinua })"
                                             height="60"
                                             width="100"
                                             class="item" />
                                    </div>
                                    <div class="span6">
                                    @*<div class="details">*@
                                        <a href='@Url.Action("Asignacion", "ModeloSimulacion", new { Name =  Model.Nombre_UniformeContinua, ProyectoId=ViewBag.ProyectoId, ParametroId=ViewBag.ParametroId, Opcion=1 })' class="btn green">@Model.Nombre_UniformeContinua</a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="row-fluid">
                            <div class="span12 responsive" data-tablet="span6" data-desktop="span3">
                                <div class="dashboard-stat green">
                                    @*<div class="visual">*@
                                    <div class="span6">
                                        <img alt="@Model.Nombre_Weibull"
                                             src="@Url.Action("getImg", "ModeloSimulacion", new { nombre = Model.Nombre_Weibull })"
                                             height="60"
                                             width="100"
                                             class="item" />
                                    </div>
                                    <div class="span6">
                                    @*<div class="details">*@
                                        <a href='@Url.Action("Asignacion", "ModeloSimulacion", new { Name =  Model.Nombre_Weibull, ProyectoId=ViewBag.ProyectoId, ParametroId=ViewBag.ParametroId, Opcion=1 })' class="btn green">@Model.Nombre_Weibull</a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                   </div>
                </div>
        </fieldset>
    </div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Tipo de Asignacion</h3>
  </div>
  <div class="modal-body">
    <p>Se presenta dos tipos de asignacion de la normal: </p> <ul><li>Conociendo la Desviacion Standar</li><li>Estimando la Desviacion Estandar por frecuencia</li></ul>
  </div>
  <div class="modal-footer">
    <a href='@Url.Action("Asignacion", "ModeloSimulacion", new { Name =  Model.Nombre_Normal, ProyectoId=ViewBag.ProyectoId, ParametroId=ViewBag.ParametroId, Opcion=1})' class="btn btn-inverse">@Model.Nombre_Normal (Con Desviacion Standar)</a>
    <a href='@Url.Action("Asignacion", "ModeloSimulacion", new { Name =  Model.Nombre_Normal, ProyectoId=ViewBag.ProyectoId, ParametroId=ViewBag.ParametroId, Opcion=2})' class="btn btn-inverse">@Model.Nombre_Normal (Sin Desviacion Standar)</a>
  </div>
</div>