@model TesisProj.Areas.Plantilla.Models.TipoElemento

@{
    ViewBag.Title = "Tipos de elemento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar tipo de elemento</h2>

<p>
    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Index")">
  	    <i class="icon-arrow-left icon-white"></i>Regresar
    </a><br /><br />
</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Tipo de elemento</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NombrePlural)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NombrePlural)
            @Html.ValidationMessageFor(model => model.NombrePlural)
        </div>

        @Html.HiddenFor(model => model.Id)

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<p>
    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Index")">
  	    <i class="icon-arrow-left icon-white"></i>Regresar
    </a>
</p>

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
