@model TesisProj.Areas.Plantilla.Models.PlantillaElemento

@{
    ViewBag.Title = "Plantillas de elementos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Plantilla de elemento</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdTipoElemento)
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdTipoElemento", String.Empty)
            @Html.ValidationMessageFor(model => model.IdTipoElemento)
        </div>

        @Html.HiddenFor(model => model.Id)

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
