@model IEnumerable<TesisProj.Areas.Plantilla.Models.PlantillaOperacion>

@{
    ViewBag.Title = "Operaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Operaciones de @ViewBag.Plantilla</h2>

<p>
    @Html.ActionLink("Crear", "Create", new { idPlantilla = ViewBag.IdPlantilla })
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Secuencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Referencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlantillaProyecto.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indicador)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Secuencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Referencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlantillaProyecto.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indicador)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Regresar", "Index", "PlantillaProyecto", routeValues: new { Area = "Plantilla" }, htmlAttributes: null)
</div>