@model TesisProj.Areas.Proyectos.Models.Pedro_Proyecto
@using TesisProj.Areas.Proyectos.Models
@using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Proyecto</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.IsEliminado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsEliminado)
    </div>

    <div class="editor-label">
        Nombre del Parametro
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.parametro.Nombre)
        @Html.ValidationMessageFor(model => model.parametro.Nombre)
    </div>

    <div class="editor-label">
        Numero de Periodos
    </div>
    <div class="editor-field">
        @Html.Telerik().IntegerTextBoxFor(model => model.parametro.periodos)
        @Html.ValidationMessageFor(model => model.parametro.periodos)
    </div>

    <div class="editor-label">
        Valor del parametro
    </div>
    <div class="editor-field">
        @Html.Telerik().NumericTextBoxFor(model => model.parametro.valor)
        @Html.ValidationMessageFor(model => model.parametro.valor)
    </div>

    <div class="editor-label">
        Interes
    </div>
    <div class="editor-field">
        @Html.Telerik().NumericTextBoxFor(model => model.parametro.interes)
        @Html.ValidationMessageFor(model => model.parametro.interes)
    </div>
    <br />
    <table>
        <tr>
            @foreach (Pedro_Elemento e in Model.parametro.Elementos)
            {
                <th>@e.Nombre</th>
            }
        </tr>
        <tr>
            @foreach (Pedro_Elemento e in Model.parametro.Elementos)
            {
                <td>@e.valor</td>
            }
        </tr>
    </table>
    <br />

    <div class="editor-label">
        Resultado
    </div>
    <div class="editor-field">
        @Html.Telerik().NumericTextBoxFor(model => model.Resultado)
        @Html.ValidationMessageFor(model => model.Resultado)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
