@model IEnumerable<TesisProj.Areas.Proyectos.Models.Pedro_Proyecto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parametro.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parametro.valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parametro.interes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resultado)
        </th>
        <th>Opcioines</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(model => item.parametro.Nombre)
        </td>
        <td>
            @Html.DisplayFor(model => item.parametro.valor)
        </td>
        <td>
            @Html.DisplayFor(model => item.parametro.interes)
        </td>
        <td>
            @Html.DisplayFor(model => item.Resultado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Simulacion","Index",new { id=item.Id, Area="Simulaciones", controller = "Simulacion", action = "Index" }) 
       </td>
    </tr>
}

</table>